
.albumesContainer {
  height: 23rem;
  display: flex;
  flex: 1;
  margin: 2.5rem 2rem;
  padding: 2rem;
  background-color: rgba(8, 55, 85, 0.315);
  box-shadow: 0px 0px 80px rgba(8, 55, 85);
  border-radius: 2rem;
  overflow: hidden;
  scroll-behavior: smooth;
  position: relative;
}

@keyframes scrollAlbumes {
  to {
    left: -22rem;
  }
}

.albumContent {
  display: flex;
  flex-direction: column;
  width: 18rem;
  height: 18rem;
  margin: 1rem;
  padding: 1rem;
  background-color: rgba(30, 96, 138, 0.2);
  backdrop-filter: blur(20px);
  flex-shrink: 0;
  border-radius: 2rem;
  justify-content: center;
  transition: 0.5s all;
  position: absolute;
  left: 100%;
  animation-name: scrollAlbumes;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.album1 {
  animation-delay: calc(30s / 15 * (15 - 1) * -1);
}
.album2 {
  animation-delay: calc(30s / 15 * (15 - 2) * -1);
}
.album3 {
  animation-delay: calc(30s / 15 * (15 - 3) * -1);
}
.album4 {
  animation-delay: calc(30s / 15 * (15 - 4) * -1);
}
.album5 {
  animation-delay: calc(30s / 15 * (15 - 5) * -1);
}
.album6 {
  animation-delay: calc(30s / 15 * (15 - 6) * -1);
}
.album7 {
  animation-delay: calc(30s / 15 * (15 - 7) * -1);
}
.album8 {
  animation-delay: calc(30s / 15 * (15 - 8) * -1);
}
.album9 {
  animation-delay: calc(30s / 15 * (15 - 9) * -1);
}
.album10 {
  animation-delay: calc(30s / 15 * (15 - 10) * -1);
}
.album11 {
  animation-delay: calc(30s / 15 * (15 - 11) * -1);
}
.album12 {
  animation-delay: calc(30s / 15 * (15 - 12) * -1);
}
.album13 {
  animation-delay: calc(30s / 15 * (15 - 13) * -1);
}
.album14 {
  animation-delay: calc(30s / 15 * (15 - 14) * -1);
}
.album15 {
  animation-delay: calc(30s / 15 * (15 - 15) * -1);
}

.albumContent:hover {
    box-shadow: 0 0px 30px rgba(30, 96, 138, 0.6);
}

.imgCover {
  margin: auto;
  width: 90%;
  height: 80%;
  border-radius: 2rem;
}

.songTitleContainer {
    margin: 0rem 1rem;
    color: white;
}

.songTitle {
  font-size: 1rem;
  color: rgb(255, 255, 255);
}

.songTitleContainer p {
    color: rgb(255, 255, 255, 0.6);
}
