:root {
  --primary-color: "red";
}

* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url("/background.jpg");
  background-size: cover;
}

@import "./library.scss";
@import "./albumes";
@import "./player";
@import "./song";
